@* @model API.DataModels.Food.RecipesDataModel *@
@* @{ Layout = null; } *@
@* *@
@* <form asp-action="CreateMeals" method="post"> *@
@*     <div class="mb-3"> *@
@*         <label asp-for="Name" class="form-label"></label> *@
@*         <input asp-for="Name" class="form-control" /> *@
@*         <span asp-validation-for="Name" class="text-danger"></span> *@
@*     </div> *@
@* *@
@*     <div class="mb-3"> *@
@*         <label asp-for="Description" class="form-label"></label> *@
@*         <textarea asp-for="Description" class="form-control"></textarea> *@
@*         <span asp-validation-for="Description" class="text-danger"></span> *@
@*     </div> *@
@* *@
@*     $1$ Later you can add a list of recipes that make up this meal #1# *@
@* *@
@*     <button type="submit" class="btn btn-primary">Save Meal</button> *@
@* </form> *@