@using Microsoft.AspNetCore.Mvc.ModelBinding
@{
    ViewData["Title"] = "Login";
}
@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/material-icons@1.13.12/iconfont/material-icons.min.css">
    <link rel="stylesheet" href="~/css/Login.css" />
}


<section>
        <div class="login-container">
            <div class="row full-screen align-items-center">
                <div class="left">
                    <div class="social-media">
                        <a href="https://github.com/Redageddon/Project3">
                            <i class="fa-brands fa-github"></i>
                        </a>
                    </div>
                </div>
                <div class="right">
                    <div class="form">
                        <div class="text-center">
                            <h6><span>Log In</span> <span>Sign Up</span></h6>
                            <input type="checkbox" class="checkbox" id="reg-log" />
                            <label for="reg-log"></label>
    
                            <div class="card-3d-wrap">
                                <div class="card-3d-wrapper">
                                    <!-- LOGIN -->
                                    <div class="card-front">
                                        <div class="center-wrap">
                                            <form asp-controller="Login" asp-action="Login" method="post">
                                                @Html.AntiForgeryToken()
                                                <h4 class="heading">Log In</h4>
                                                <div class="form-group">
                                                    <input name="email"
                                                           type="email"
                                                           class="form-style"
                                                           placeholder="Your Email"
                                                           required />
                                                    <i class="input-icon material-icons">email</i>
                                                </div>
                                                <div class="form-group">
                                                    <input name="password"
                                                           type="password"
                                                           class="form-style"
                                                           placeholder="Your Password"
                                                           required />
                                                    <i class="input-icon material-icons">lock</i>
                                                </div>
                                                <button type="submit" class="btn">Submit</button>
                                            </form>
                                        </div>
                                    </div>

                                    <!-- SIGNUP -->
                                    <div class="card-back">
                                        <div class="center-wrap">
                                            <form asp-controller="Login" asp-action="Register" method="post">
                                                @Html.AntiForgeryToken()
                                                <h4 class="heading">Sign Up</h4>
                                                <div class="form-group">
                                                    <input name="username"
                                                           type="text"
                                                           class="form-style"
                                                           placeholder="Username"
                                                           required />
                                                    <i class="input-icon material-icons">person</i>
                                                </div>
                                                <div class="form-group">
                                                    <input name="email"
                                                           type="email"
                                                           class="form-style"
                                                           placeholder="Your Email"
                                                           required />
                                                    <i class="input-icon material-icons">email</i>
                                                </div>
                                                <div class="form-group">
                                                    <input name="password"
                                                           type="password"
                                                           class="form-style"
                                                           placeholder="Your Password"
                                                           required />
                                                    <i class="input-icon material-icons">lock</i>
                                                </div>
                                                <button type="submit" class="btn">Submit</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (TempData["RegisterSuccess"] is string msg)
                    {
                        <p class="text-success text-center mt-2">@msg</p>
                    }

                    @if (!ViewData.ModelState.IsValid)
                    {
                        foreach (ModelError error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                        {
                            <p class="text-danger text-center mt-2">@error.ErrorMessage</p>
                        }
                    }

                </div>
            </div>
        </div>
    </section>