@model MealsModel

@{
    ViewData["Title"] = "Meals";
}
<head>
    <link rel="stylesheet" href="~/css/Meals.css"/>
</head>
<div class="text-center">
    <h1 class="display-4">Prep your Meals @Model.Type</h1>
</div>
