@use "sass:list";
@use "sass:color";

$font-stack: Helvetica, Arial;
$primary-color: black;

h1 {
  color: $primary-color;

  &:hover{
    color: color.scale($primary-color, $lightness: 20%);
    text-shadow: 2px 2px;
  }
}