@using API.DataModels.Food
@model API.DataModels.Food.RecipesDataModel
@{
    ViewData["Title"] = "Meals";
    RecipeFilter? filter = ViewBag.RecipeFilter as RecipeFilter;
}

@section Styles{
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/Recipes.css" />
    <link rel="stylesheet" href="/css/Cards.css" />
}
<div class="recipes-header py-3">
    <div class="container">
        <h1 class="title h3 mb-1">Recipes</h1>
        <p class="subtitle mb-0">Browse your library</p>
    </div>
</div>

<div class="container-fluid mt-4">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-lg-3 col-md-4 mb-4">
            <div class="sticky-top">
                @await Html.PartialAsync("~/Views/Shared/_RecipeFilterSidebar.cshtml", filter)
            </div>
        </div>
    
        <!-- Recipe Cards -->
        <div class="col-lg-9 col-md-8">
            <div class="card-container">
                <div class="row g-3">
                    @foreach (RecipeModel recipe in Model.Recipes)
                    {
                        <div class="col-12 col-sm-6 col-lg-4">
                            @await Html.PartialAsync("~/Views/Shared/_RecipeCard.cshtml", recipe)
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
