@using API.DataModels.Food
@model API.DataModels.Food.RecipesDataModel

@{
    ViewData["Title"] = "Recipes";
    RecipeFilter? filter = ViewBag.RecipeFilter as RecipeFilter;
}

@section Styles {
    <link rel="stylesheet" href="~/css/Recipes.css" />
    <link rel="stylesheet" href="/css/Cards.css" />

}

<div class="recipes-page">
    <div class="recipes-page__shell">
        <header class="recipes-page__header text-center">
            <h2 class="recipes-page__title">Recipes Library</h2>
            <p class="recipes-page__subtitle">
                Browse, filter, and discover your meals.
            </p>
        </header>

        <div class="recipes-page__layout">
            <!-- LEFT: filter / sidebar -->
            <aside class="recipes-page__sidebar sticky-top">
                @await Html.PartialAsync("~/Views/Shared/_RecipeFilterSidebar.cshtml", filter)
            </aside>

            <!-- RIGHT: scrollable recipes -->
            <section class="recipes-page__results">
                <div class="recipes-page__results-scroll">
                    <div class="recipes-page__grid">
                        @foreach (RecipeModel recipe in Model.Recipes)
                        {
                            <div class="recipes-page__card-wrap">
                                @await Html.PartialAsync("~/Views/Shared/_RecipeCard.cshtml", recipe)
                            </div>
                        }
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>