@model API.DataModels.Food.RecipeModel

@{
    ViewData["Title"] = Model.Name;
}

@section Styles
{
    <link rel="stylesheet" href="~/css/RecipeDetails.css" />
}

<div class="recipe-detail-page py-3">
    <div class="container">
        @await Html.PartialAsync("_RecipeDetails", Model)
    </div>
</div>