@model API.DataModels.Food.RecipeModel

@{
    ViewData["Title"] = Model.Name;
}

@section Styles {
    <link rel="stylesheet" href="~/css/RecipeDetails.css" />
}

<div class="recipe-details-page">
    <div class="recipe-details-shell">
        @await Html.PartialAsync("_RecipeDetails", Model)
    </div>
</div>
