@model API.DataModels.Food.MealsModel
@{
    ViewData["Title"] = "Meals";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/Recipes.css" />
    <link rel="stylesheet" href="/css/Cards.css" />
</head>
<div class="recipes-header py-3">
    <div class="container">
        <h1 class="title h3 mb-1">Recipes</h1>
        <p class="subtitle mb-0">Browse your library</p>
    </div>
</div>

<div class="card-container">
    <div class="row g-3">
        @foreach (var recipe in Model.Recipes)
        {
            <div class="col-12 col-sm-6 col-lg-4">
                @await Html.PartialAsync("~/Views/Shared/_RecipeCard.cshtml", recipe)
            </div>
        }
    </div>
</div>
