@model Project3.Models.MealCreateViewModel

@{
    ViewData["Title"] = "Create Meal";
    bool isUserLoggedIn = ViewBag.IsUserLoggedIn is bool b && b;
}

<h2 class="mb-4">Create Meal</h2>
<hr />

<div class="container mt-4">
    @if (!isUserLoggedIn)
    {
        @await Html.PartialAsync("_LoginRequiredModal")
    }
    else
    {
        @await Html.PartialAsync("_MealCreateForm", Model)
    }
</div>

@section Scripts {
    @if (!isUserLoggedIn)
    {
        <script src="~/js/Login-Modal.js"></script>
    }
    else {
        <script src="~/js/recipe-create.js"></script>
        <script src="~/js/recipe-validation.js"></script>
    }
}