@model API.DataModels.Food.RecipesDataModel
@{
    ViewData["Title"] = "Create Meal";
}

<h2 class="mb-4">Create Meal</h2>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            @* This calls the shared partial that contains the actual form *@
            @await Html.PartialAsync("_MealCreateForm", Model)
        </div>
    </div>
</div>